@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


body{
    background-color:#f6f5f7; 
    font-family: 'Montserrat', sans-serif;
    color: #3E363F;
    
}
#contenedor{
    width:900px;
    height: 500px;
    text-align: center;
    position: absolute;
    inset:0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0,0,0,0.22);
}
.contenido{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    overflow:hidden;
    padding: 40px;
}

#calculadora{
background: white;
width: 50%;
height: 100%;  
float:left;  
}

#detalle{
    background: #539dff;
    width: 50%;
    height: 100%;
    float: left;
    color: #f5f6f7;
}
input{
        width: 70%;
    padding: 12px 15px;
    border:none ;
    background-color:#eee;
}

button{
    font-size: 15px;
        font-weight: bold;
        padding:8px 60px;
        border-radius: 10px;
        background-color:#539dff;
        border: 1px solid #539dff;
        color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: transform 20ms ease-in;
}

button:active{
    transform:scale(0.95);
}


#error{
    color: red;
    font-weight: bold;
    display: none;

}
.resultado{
    color: #0A81D1;
    font-weight:bold;
    font: size 25px;
    margin-bottom: 5px;
    display:none;


}